In [10]:
%pip install duckdb
%pip install numpy
%pip install pandas


import duckdb 
import numpy 
import pandas
import os
import subprocess

con = duckdb.connect('/Users/ZZ00OL808/xeneta_cs/db/xeneta.duckdb')
# Create schemas
con.execute("CREATE SCHEMA IF NOT EXISTS raw;")
con.execute("CREATE SCHEMA IF NOT EXISTS staging;")
con.execute("CREATE SCHEMA IF NOT EXISTS final;")
# Check if schemas there
def check_schemas(con):
    schemas_query = "SELECT schema_name FROM information_schema.schemata"
    schemas = con.execute(schemas_query).fetchall()
    return [schema[0] for schema in schemas]
############################
# Get list of schemas
created_schemas = check_schemas(con)
print("Schemas created in DuckDB:")
print(created_schemas)


################################################################################################################

Requirement already satisfied: duckdb in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\zz00ol808\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Schemas created in DuckDB:
['information_schema', 'main', 'pg_catalog', 'information_schema', 'main', 'pg_catalog', 'final', 'information_schema', 'main', 'main_raw', 'pg_catalog', 'raw', 'staging']

In [16]:
con.close()

def run_dbt_command(command):
    """
    Run a dbt command using subprocess and handle errors.
    """
    try:
        result = subprocess.run(command, shell=True, check=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
        print("Command Output:\n", result.stdout.decode())
    except subprocess.CalledProcessError as e:
        print(f"Error running command: {e}")
        print("Command Output:\n", e.stdout.decode())
        print("Command Error:\n", e.stderr.decode())
        raise

def main():
    # Set up the dbt command to run the models in the raw schema
    dbt_command = "dbt run --models raw"
    
    # Run the dbt command
    run_dbt_command(dbt_command)

if __name__ == "__main__":
    main()
    
con.close()

Command Output:
 15:42:10  Running with dbt=1.8.3
15:42:11  Registered adapter: duckdb=1.8.1
15:42:11  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 2 unused configuration paths:
- models.xeneta_cs.final
- models.xeneta_cs.staging
15:42:11  Found 7 models, 4 data tests, 408 macros
15:42:11
15:42:12  Concurrency: 1 threads (target='dev')
15:42:12
15:42:12  1 of 5 START sql table model main_raw.charges_1 ................................ [RUN]
15:42:12  1 of 5 OK created sql table model main_raw.charges_1 ........................... [OK in 0.33s]
15:42:12  2 of 5 START sql table model main_raw.datapoints_1 ............................. [RUN]
15:42:12  2 of 5 OK created sql table model main_raw.datapoints_1 ........................ [OK in 0.36s]
15:42:12  3 of 5 START sql table model main_raw.exchange_rates ........................... [RUN]
15:42:13  3 of 5 OK created sql table model main_raw.exchange_rates ...................... [OK in 0.23s]
15:42:13  4 of 5 START sql table model main_raw.ports .................................... [RUN]
15:42:13  4 of 5 OK created sql table model main_raw.ports ............................... [OK in 0.10s]
15:42:13  5 of 5 START sql table model main_raw.regions .................................. [RUN]
15:42:13  5 of 5 OK created sql table model main_raw.regions ............................. [OK in 0.11s]
15:42:13
15:42:13  Finished running 5 table models in 0 hours 0 minutes and 1.59 seconds (1.59s).
15:42:13
15:42:13  Completed successfully
15:42:13
15:42:13  Done. PASS=5 WARN=0 ERROR=0 SKIP=0 TOTAL=5

In [27]:
   # Set up the dbt command to run the models in the raw schema
con.close()

dbt_command = "dbt run --models staging"
    
    # Run the dbt command
run_dbt_command(dbt_command)

Command Output:
 23:53:01  Running with dbt=1.8.3
23:53:01  Registered adapter: duckdb=1.8.1
23:53:03  [WARNING]: Configuration paths exist in your dbt_project.yml file which do not apply to any resources.
There are 1 unused configuration paths:
- models.xeneta_cs.final
23:53:03  Found 12 models, 4 data tests, 2 sources, 408 macros
23:53:03
23:53:06  Concurrency: 1 threads (target='dev')
23:53:06
23:53:06  1 of 5 START sql table model main_staging.charges .............................. [RUN]
23:53:07  1 of 5 OK created sql table model main_staging.charges ......................... [OK in 0.19s]
23:53:07  2 of 5 START sql table model main_staging.datapoints ........................... [RUN]
23:53:07  2 of 5 OK created sql table model main_staging.datapoints ...................... [OK in 0.11s]
23:53:07  3 of 5 START sql table model main_staging.datapoint_charges .................... [RUN]
23:53:07  3 of 5 OK created sql table model main_staging.datapoint_charges ............... [OK in 0.17s]
23:53:07  4 of 5 START sql table model main_staging.charges_usd .......................... [RUN]
23:53:08  4 of 5 OK created sql table model main_staging.charges_usd ..................... [OK in 1.55s]
23:53:08  5 of 5 START sql table model main_staging.daily_prices ......................... [RUN]
23:53:09  5 of 5 OK created sql table model main_staging.daily_prices .................... [OK in 0.41s]
23:53:09
23:53:09  Finished running 5 table models in 0 hours 0 minutes and 5.69 seconds (5.69s).
23:53:09
23:53:09  Completed successfully
23:53:09
23:53:09  Done. PASS=5 WARN=0 ERROR=0 SKIP=0 TOTAL=5

In [28]:
dbt_command = "dbt run --models final"
    
    # Run the dbt command
run_dbt_command(dbt_command)

Command Output:
 00:10:54  Running with dbt=1.8.3
00:10:55  Registered adapter: duckdb=1.8.1
00:10:55  Found 14 models, 4 data tests, 2 sources, 408 macros
00:10:55
00:10:56  Concurrency: 1 threads (target='dev')
00:10:56
00:10:56  1 of 2 START sql table model main_final.daily_aggregated_prices ................ [RUN]
00:10:57  1 of 2 OK created sql table model main_final.daily_aggregated_prices ........... [OK in 0.47s]
00:10:57  2 of 2 START sql table model main_final.prices_all ............................. [RUN]
00:10:57  2 of 2 OK created sql table model main_final.prices_all ........................ [OK in 0.15s]
00:10:57
00:10:57  Finished running 2 table models in 0 hours 0 minutes and 1.23 seconds (1.23s).
00:10:57
00:10:57  Completed successfully
00:10:57
00:10:57  Done. PASS=2 WARN=0 ERROR=0 SKIP=0 TOTAL=2

In [34]:
dbt_command = "dbt run --models increment"
    
    # Run the dbt command
run_dbt_command(dbt_command)

In [17]:
# Connect  DuckDB
con = duckdb.connect('/Users/ZZ00OL808/xeneta_cs/db/xeneta.duckdb')

# Function to check table data with columns
def print_table_data(con, table_name):
        
    query = f"SELECT * FROM {table_name} LIMIT 5"
    df = con.execute(query).fetchdf()
    print(f"\n{table_name.replace('_', ' ').title()} Table:")
    print(df)

# All tables in list
tables = [
   "main_raw.ports",
    "main_raw.regions",
   "main_raw.exchange_rates",
    "main_raw.datapoints_1",
    "main_raw.charges_1"
]

# Print data from each table
for table in tables:
    print_table_data(con, table)

# Close connection
con.close()

Main Raw.Ports Table:
   PID   CODE               SLUG             NAME        COUNTRY COUNTRY_CODE
0  681  USTIW   washington_ports       Tacoma, WA  United States           US
1  504  USPDX      north_america     Portland, OR  United States           US
2  587  USOAK      us_west_coast      Oakland, CA  United States           US
3  218  USLGB  los_angeles_ports   Long Beach, CA  United States           US
4  638  USLAX  los_angeles_ports  Los Angeles, CA  United States           US

Main Raw.Regions Table:
                SLUG               NAME         PARENT
0               asia               Asia           None
1  canada_west_coast  Canada West Coast  north_america
2    china_east_main    China East Main     china_main
3   china_north_main   China North Main     china_main
4   china_south_main   China South Main     china_main

Main Raw.Exchange Rates Table:
         DAY CURRENCY        RATE
0 2021-01-01      NOK    8.633010
1 2021-01-01      NPR  117.485776
2 2021-01-01      NZD    1.412085
3 2021-01-01      OMR    0.384976
4 2021-01-01      PAB    1.000000

Main Raw.Datapoints 1 Table:
        D_ID                 CREATED  ORIGIN_PID  DESTINATION_PID VALID_FROM  \
0  374820218 2021-03-15 14:07:32.651         912              308 2021-03-15
1  386650836 2021-05-05 17:28:32.621         191              308 2021-05-01
2  374820619 2021-03-15 14:07:32.651         796              678 2021-03-15
3  377441159 2021-04-09 12:44:32.524         218              723 2021-04-01
4  383374456 2021-04-23 12:13:28.648         266              504 2021-04-15

    VALID_TO  COMPANY_ID  SUPPLIER_ID  EQUIPMENT_ID
0 2021-03-31        2469         1023             4
1 2021-05-14        3564           53             1
2 2021-03-31        2469         1023             4
3 2021-04-30        4023           40             2
4 2021-04-30        2548           53             2

Main Raw.Charges 1 Table:
        D_ID CURRENCY  CHARGE_VALUE
0  381811145      USD          4590
1  381811145      USD           270
2  381811145      USD           650
3  381812474      USD          -468
4  381812474      USD           512

In [14]:
# Execute SQL queries
    # Example: List all tables in the 'main_raw' schema
con = duckdb.connect('/Users/ZZ00OL808/xeneta_cs/db/xeneta.duckdb')
tables = con.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'main_raw';""").fetchall()

    
print("Tables in 'raw' schema:")
for table in tables:
     print(table[0])

Tables in 'raw' schema:
charges_1
datapoints_1
exchange_rates
ports
regions